<body>
    <h1 class="text-3xl font-bold underline">
      Hello, World! asd asd as d
      adasdasd
      adasdasd
    </h1>
    <p>adasdasd</p>
    <%- include product.ejs %>
    <%- include button.ejs %>
  </body>